.App {
  text-align: center;
}

.App-name {
  margin: -20px;
}

.App-now {
  font-size: small;
}

.App-icons {
  padding-top: 30px;
  display: flex;
  overflow: hidden;
  /* background-color: black; */
  min-width: auto;
  justify-content: center;
}

.App-twitter, .App-github {
  height: 30px;
  width: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  color: #282c34;
}

.App-twitter:hover {
  color: #55acee;
}

.App-github:hover {
  color: #4078c0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F8F0E3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
